{% extends 'layout/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block head %}
    <style>
        main {
            min-height: 100vh;
            display: grid;
            place-items: center;
        }
    </style>
{% endblock head %}
    
{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Travel Blog - Create Account</h4>
            <p class="card-text">
                {% include 'partials/register_form.html' %}
            </p>
        </div>
    </div>
{% endblock %}
    